{% extends 'AdminConsoleBundle::page_list.html.twig' %}
{% block tableHeader %}
	<td>组名</td>
	<td>用户组标识</td>
	<td>权限</td>
	<td>用户数</td>
{% endblock %}
{% block tableBody %}
	{% for role in roles %}
		<tr>
			<td>{{ role.name }}</td>
			<td>{{ role.role }}</td>
			<td>{{ role.mask }}</td>
			<td>{{ role.users|length }}</td>
		</tr>
	{% endfor %}
{% endblock %}