{% extends 'AdminConsoleBundle::page_dialog_edit.html.twig' %}
{% block formContent %}
<div class="form-group">
	<label class="col-sm-2 control-label" for="settings_systemname">原始密码</label>
	<div class="col-sm-10">
		<input type="password" name="Oldpassword" required="required" class="form-control form-control" placeholder="原始密码" label="原始密码">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">新密码</label>
	<div class="col-sm-10">
		<input type="password" name="password" required="required" id="password" class="form-control form-control" placeholder="新密码" label="新密码">
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">确认密码</label>
	<div class="col-sm-10">
		<input type="password" name="repassword" equalTo="#password" required="required" class="form-control form-control" placeholder="新密码" label="新密码">
	</div>
</div>
{% endblock %}