/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*
 * Global add-ons
 */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei"
}
body {
  font-size: 12px;
}
@font-face {
  font-family: 'aliyun-console-font';
  src: url('../fonts/aliyun-console-font.eot');
  src: url('../fonts/aliyun-console-font.ttf') format('truetype');
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 40px 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: #293038;
  width: 180px;
}
.sidebar-collspan {
  background-color: #37424f;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a, .nav-sidebar .nav > li > a{
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus,
.nav-sidebar .nav > .active > a,
.nav-sidebar .nav > .active > a:hover,
.nav-sidebar .nav > .active > a:focus,
{
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  background-color: #eaedf1;
  overflow:hidden;
  position: absolute;
  left: 180px;
  right: 0px;
  bottom: 0px;
  top: 50px;
  width: auto;
}
.main .page-header {
  margin-top: 0;
}

.navbar-inverse {
  background-color: #09C;
  border-color: #09C;
}
.navbar-inverse .navbar-brand {
  color:#fff;
}
.navbar-inverse .navbar-nav > li > a {
  color:#fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #008fbf;
}


.sidebar {
}
.nav-sidebar > li > a {
  background-color: #22282e;
}
.nav-sidebar > li.collapsed > a {
  background-color: #37424f;
}
.nav-sidebar > li > a, .nav-sidebar .nav > li > a {
  color: #fff;
}
.nav-sidebar > li > a:hover, .nav-sidebar .nav > li > a:hover {
  background-color: #37424f;
}
.nav-sidebar > .active > a, .nav-sidebar .nav > .active > a {
  background-color: #0099cc;
}
.nav-sidebar > .active > a:hover, .nav-sidebar .nav > .active > a {
  background-color: #37424f;
}
.nav > li > a:focus {
  background-color: #37424f;
}
.nav-sidebar .nav > li > a {
  padding-left: 30px;
}


.unitBox {
  background-color: #fff;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
}

[class^="icon-"],[class*="icon-"] {
  font-family: 'aliyun-console-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-arrow-down:before {
  content: "\e608";
}
.icon-setup:before {
  content: "\e662";
}
.icon-unfold:before {
  content: "\e707";
}

.sidebar-title-icon {
  display: inline-block;
  margin: 0 8px 0 0px;
  vertical-align: middle;
  transition: transform 0.12s;
  -o-transition: -o-transform 0.12s;
  -ms-transition: -ms-transform 0.12s;
  -moz-transition: -moz-transform 0.12s;
  -webkit-transition: -webkit-transform 0.12s
}
li.collapsed .sidebar-title-icon{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg)
}
.sidebar-manage {
  vertical-align: middle;
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0px;
  top: 0px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
