{% extends 'AdminConsoleBundle::page.html.twig' %}
{% block pageContent %}
	{{ form_start(form) }}	
		<div class="pageFormContent">
			{% block formContent %} {% endblock %}
		</div>
		<button type="submit">提交</button> <button type="button" class="close">取消</button>
		</div>
	{{ form_end(form) }}	
{% endblock %}