{% extends 'AdminConsoleBundle::page.html.twig' %}
{% block pageContent %}
<table class="table table-hover">
	<thead> <tr> {% block tableHeader %}{% endblock %} </tr> </thead>
	<tbody>{% block tableBody %}{% endblock %}</tbody>
	<tfoot>
        <tr>
            <td width="10">
                <input type="checkbox" class="checkboxa-all" id="ckSelectAll2" name="ckSelectAll2">
            </td>
            <td colspan="100">
                <div class="pull-left">
                {% block tableAction %}
              	<button id="renew" type="button" class="btn btn-default" data-spm-click="gostr=/aliyun;locaid=d1">域名续费</button>
                {% endblock %}
                </div>
                <div class="pull-right page-box">
                    <div class="pagination-info">共有2条，每页显示：20条</div>
                    <ul class="pagination"><li class="disabled" page-index="1"><a>«</a></li><li class="disabled" page-index="0"><a>‹</a></li><li class="active" page-index="1"><a>1</a></li><li class="disabled" page-index="2"><a>›</a></li><li class="disabled" page-index="1"><a>»</a></li></ul>
                    <div class="pagination-goto">
                        <input type="text" class="ipt form-control" id="gotoPageNo">
                        <button type="button" class="btn btn-default" id="goBtn">GO</button>
                        <input type="hidden" id="totalCount" name="totalCount" value="2">
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}