{% extends 'AdminConsoleBundle::page.html.twig' %}
{% form_theme searchForm 'bootstrap_3_layout.html.twig' %}
{% block pageContent %}
<div class=" margin-top clearfix">
<div class="search-form pull-left">
	{{ form_start(searchForm) }}
	{% block searchContent %}

    {% endblock %}
    <button type="button" class="btn btn-default" id="btnSearch">搜索</button>
	{{ form_end(searchForm) }}
</div>
</div>
<div class="margin-top">
<table class="table table-hover">
	<thead> 
	<tr> 
	<th> <input type="checkbox" name="ckSelectAll" id="ckSelectAll"> </th>
	{% block tableHeader %}{% endblock %} 
    <th class="text-right">操作</th>
	</tr> 
	</thead>
	<tbody>{% block tableBody %}{% endblock %}</tbody>
	<tfoot>
        <tr>
            <td width="10">
                <input type="checkbox" class="checkboxa-all" id="ckSelectAll2" name="ckSelectAll2">
            </td>
            <td colspan="100">
                <div class="pull-left">
                {% block tableAction %}

                {% endblock %}
                </div>
                <div class="pull-right page-box">
                    <div class="pagination-info">共有2条，每页显示：20条</div>
                    <ul class="pagination"><li class="disabled" page-index="1"><a>«</a></li><li class="disabled" page-index="0"><a>‹</a></li><li class="active" page-index="1"><a>1</a></li><li class="disabled" page-index="2"><a>›</a></li><li class="disabled" page-index="1"><a>»</a></li></ul>
                    <div class="pagination-goto">
                        <input type="text" class="ipt form-control" id="gotoPageNo">
                        <button type="button" class="btn btn-default" id="goBtn">GO</button>
                        <input type="hidden" id="totalCount" name="totalCount" value="2">
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
</div>
{% endblock %}